<ng-container *ngIf="displayDataExtraction">

  <h5 class="card-header">Data Extraction Form</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>URL</label>
        <input kendoTextBox formControlName="url" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.url.errors }" />
        <div *ngIf="submitted && regForm.url.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.url.errors.required">URL is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Library</label>
        <kendo-dropdownlist formControlName="library" [data]="libraries" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.library.errors }"
          (valueChange)="onLibraryChange()">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.library.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.library.errors.required">Library is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Extractor</label>
        <kendo-dropdownlist formControlName="extractor" [data]="extractors" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.extractor.errors }">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.extractor.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.extractor.errors.required">Extractor is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Output Format</label>
        <kendo-dropdownlist formControlName="outputFormat" [data]="outputFormats" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.outputFormat.errors }">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.outputFormat.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.outputFormat.errors.required">Output Format is required</div>
        </div>
      </div>

      <div class="text-center">
        <button kendoButton primary="true">Extract</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="displayEditor" style="width: 100%;">
  <section>
    <form [formGroup]="contentForm" style="width: 100%;">
      <label><b>Title:</b>&nbsp;</label>
      <input kendoTextBox formControlName="title" style="width: 100%;" />
    </form>
  </section>
</ng-container>

<ng-container *ngIf="displayEditor">
  <section>
    <div style="width: 50%;">
      <form [formGroup]="kendoEditorForm" style="width: 100%;">
        <kendo-editor formControlName="kendoEditor" (valueChange)="valueChange($event)" [value]="content" cols="30"></kendo-editor>
        <!-- <kendo-editor [value]="content" cols="30"></kendo-editor>
      <button kendoButton primary="true" class="back-btn" (click)="onClickBack(0)">Back</button>
      &nbsp;
      <button kendoButton primary="true" class="back-btn" (click)="onClickTransform()">Transform</button> 
      <button kendoButton primary="true" class="back-btn" (click)="onClickTransform()">Transform</button> -->
      </form>
    </div>
    <div style="width: 50%;">
      <label><b>Generated HTML:</b>&nbsp;</label>
      <textarea class="k-content" name="editorOutput" id="" cols="30" [innerHTML]="content"></textarea>
      <!-- <div style="width: 100%;">
        <button kendoButton primary="true" (click)="onClickCreateCourse()">Create Course</button>
        &nbsp;
        <button kendoButton primary="true" (click)="onClickAddDiscussion()">Create Forum Discussion</button>
        &nbsp;
        <button kendoButton primary="true" (click)="onClickAddDiscussionPost()">Add Discussion Post</button>
      </div> -->
    </div>
  </section>
</ng-container>

<ng-container *ngIf="displayEditor">
  <section>
    <div style="width: 50%">
      <button kendoButton primary="true" class="back-btn" (click)="onClickBack(0)">Back</button>
      &nbsp;
      <button kendoButton primary="true" class="back-btn" (click)="onClickTransform()">Transform</button>
      &nbsp;
      <button kendoButton primary="true" (click)="onClickCreateCourse()">Create Course</button>
    </div>
    <div style="width: 50%">
      <button kendoButton primary="true" (click)="onClickAddDiscussion()">Create Forum Discussion</button>
      &nbsp;
      <button kendoButton primary="true" (click)="onClickAddDiscussionPost()">Add Discussion Post</button>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="displaySuccessTranfer">
  <section>
    <div>
      <div *ngIf="tranferError == ''">
        <h3>{{createdItem}} Successfully Created...!</h3>
        <h4>Details:</h4>
        <p>{{transferMessage}}</p>
      </div>

      <div *ngIf="tranferError != ''">
        <h3>Error in {{createdItem}} creation...!!!</h3>
        <h4>Detailed Error:</h4>
        <p>{{transferMessage}}</p>
      </div>

      <div>
        <div>
          <button kendoButton primary="true" (click)="onClickBack(1)">Back</button>
          &nbsp;
          <button kendoButton primary="true" (click)="onClickBack(0)">Home</button>
        </div>
      </div>
    </div>
  </section>

</ng-container>