<ng-container *ngIf="displayDataExtraction">
  <h5 class="card-header">Extract Content from Blog</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>URL:</label>
        <input kendoTextBox formControlName="url" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.url.errors }" />
        <div *ngIf="submitted && regForm.url.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.url.errors.required">URL is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Library:</label>
        <kendo-dropdownlist formControlName="library" [data]="libraries" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.library.errors }"
          (valueChange)="onLibraryChange()">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.library.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.library.errors.required">Library is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Extractor:</label>
        <kendo-dropdownlist formControlName="extractor" [data]="extractors" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.extractor.errors }">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.extractor.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.extractor.errors.required">Extractor is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Output Format:</label>
        <kendo-dropdownlist formControlName="outputFormat" [data]="outputFormats" class="form-control"
          [ngClass]="{ 'ng-invalid ng-touched': submitted && regForm.outputFormat.errors }">
        </kendo-dropdownlist>
        <div *ngIf="submitted && regForm.outputFormat.errors" class="k-tooltip-validation">
          <div *ngIf="regForm.outputFormat.errors.required">Output Format is required</div>
        </div>
      </div>

      <div class="text-center">
        <button kendoButton primary="true">Extract</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="displayEditor" style="width: 100%;">
  <section>
    <form [formGroup]="contentForm" style="width: 100%;">
      <label><b>Title:</b>&nbsp;</label>
      <input kendoTextBox formControlName="title" style="width: 100%;" />
    </form>
  </section>
</ng-container>

<ng-container *ngIf="displayEditor">
  <section>
    <div style="width: 50%;">
      <form [formGroup]="kendoEditorForm" style="width: 100%;">
        <kendo-editor formControlName="kendoEditor" (valueChange)="valueChange($event)" [value]="content" cols="30">
        </kendo-editor>
      </form>
    </div>
    <div style="width: 50%;">
      <label><b>Generated HTML:</b>&nbsp;</label>
      <textarea class="k-content" name="editorOutput" id="" cols="30" [innerHTML]="content"></textarea>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="displayEditor">
  <section>
    <div style="width: 50%">
      <button kendoButton primary="true" class="back-btn" (click)="onClickBack(0)">Back</button>
      &nbsp;
      <button kendoButton primary="true" class="back-btn" (click)="onClickTransform()">Transform</button>
      &nbsp;
      <button kendoButton primary="true" class="back-btn" (click)="onCreateCourseDialogOpen()">Create Course</button>
    </div>
    <div style="width: 50%">
      <button kendoButton primary="true" (click)="createForumDiscussionDialogOpen()">Create Forum Discussion</button>
      <!-- &nbsp;
      <button kendoButton primary="true" (click)="createDicussionPostDialogOpen()">Add Discussion Post</button> -->
    </div>
  </section>
</ng-container>

<ng-container *ngIf="displaySuccessTranfer">
  <section>
    <div>
      <div *ngIf="tranferError == ''">
        <h3>{{createdItem}} Successfully Created...!</h3>
        <h4>Details:</h4>
        <p>{{transferMessage}}</p>
      </div>

      <div *ngIf="tranferError != ''">
        <h3>Error in {{createdItem}} creation...!!!</h3>
        <h4>Detailed Error:</h4>
        <p>{{transferMessage}}</p>
      </div>

      <div>
        <div>
          <button kendoButton primary="true" (click)="onClickBack(1)">Back</button>
          &nbsp;
          <button kendoButton primary="true" (click)="onClickBack(0)">Home</button>
        </div>
      </div>
    </div>
  </section>

</ng-container>



<!-- Create Course Dialog -->

<div class="k-overlay" *ngIf="createCourseDialogOpened"></div>
<div class="example-wrapper">
  <kendo-window title="Create Course" *ngIf="createCourseDialogOpened" (close)="onCreateCourseDialogClose()" [minWidth]="250" [width]="450" [height]="525">
    <form class="k-form">
      <fieldset>
        <legend>Provide Course Details</legend>

        <div *ngIf="tranferError == '' && transferMessage != ''">
          <h6 class="success">{{createdItem}} Created Successfully.</h6>
          <p class="success">{{transferMessage}}</p>
        </div>
  
        <div *ngIf="tranferError != ''">
          <h6 class="error">Error in {{createdItem}} creation!</h6>
          <p class="error">{{transferMessage}}</p>
        </div>

        <label class="k-form-field">
          <span>Course Name:</span>
          <input class="k-textbox" placeholder="Course Name" name="courseName" [(ngModel)]="courseToCreate.courseName" />
        </label>
        <label class="k-form-field">
          <span>Course Short Name:</span>
          <input class="k-textbox" placeholder="Course Short Name" name="courseShortName" [(ngModel)]="courseToCreate.courseShortName" />
        </label>
        <label class="k-form-field">
          <span>Course Category:</span>
          <kendo-dropdownlist [data]="courseCategories$ | async" name="courseCategory" [(ngModel)]="courseToCreate.courseCategory" textField="name" valueField="id">
          </kendo-dropdownlist>
        </label>
        <label class="k-form-field">
          <span>Course ID:</span>
          <input class="k-textbox" placeholder="Course ID" name="courseId" [(ngModel)]="courseToCreate.courseIdNumber" />
        </label>
      </fieldset>
      <br/>
      <div class="text-right">
        <button type="button" class="k-button" (click)="onCreateCourseDialogClose()">Cancel</button>
        &nbsp;
        <button type="button" class="k-button k-primary" (click)="submitCreateCourse()">OK</button>
      </div>
    </form>
  </kendo-window>
</div>

<!-- Create Course Dialog -->

<!-- Create Forum Discussion Dialog -->

<div class="k-overlay" *ngIf="createForumDiscussionDialogOpened"></div>
<div class="example-wrapper">
  <kendo-window title="Create Forum Discussion" *ngIf="createForumDiscussionDialogOpened" (close)="onCreateForumDiscussionDialogClose()" [minWidth]="250" [width]="450" [height]="400">
    <form class="k-form">
      <fieldset>
        <legend>Provide Forum Discussion Details</legend>

        <div *ngIf="tranferError == '' && transferMessage != ''">
          <h6 class="success">{{createdItem}} Created Successfully.</h6>
          <p class="success">{{transferMessage}}</p>
        </div>
  
        <div *ngIf="tranferError != ''">
          <h6 class="error">Error in {{createdItem}} creation!</h6>
          <p class="error">{{transferMessage}}</p>
        </div>

        <label class="k-form-field">
          <span>Course:</span>
          <kendo-dropdownlist [data]="courses$ | async" name="course" [(ngModel)]="forumDiscussionToCreate.course" textField="fullname" valueField="id" (valueChange)="onCourseChange()">
          </kendo-dropdownlist>
        </label>
        <label class="k-form-field">
          <span>Forum:</span>
          <kendo-dropdownlist [data]="courseForums$ | async" name="courseForum" [(ngModel)]="forumDiscussionToCreate.forum" textField="name" valueField="id">
          </kendo-dropdownlist>
        </label>
      </fieldset>
      <br/>
      <div class="text-right">
        <button type="button" class="k-button" (click)="onCreateForumDiscussionDialogClose()">Cancel</button>
        &nbsp;
        <button type="button" class="k-button k-primary" (click)="submitCreateForumDiscussion()">OK</button>
      </div>
    </form>
  </kendo-window>
</div>

<!-- Create Forum Discussion Dialog -->